{% extends "accounts/_base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <form method="POST">{% csrf_token %}
          <h2>Please sign up</h2>
          <h4 class="subheader">1. Company</h4>
          <ul id="company-form">
            {{ company_form.as_ul }}
          </ul>
          <ul id="user-form">
            {{ user_form.as_ul }}
          </ul>
          <h4 class="subheader">2. Locations</h4>
          <ul id="location-form">
            {{ location_form.as_ul }}
          </ul>
          <button type="submit" class="btn btn-success">Sign up</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
