<h1 class="page-header">Dashboard for co-working offices</h1>
<div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
        <h4><a href="{% url 'cowork:locations:add' %}"><i class="fa fa-building fa-2x"></i> Add locations</a></h4>
    </div>
</div>

<h2 class="sub-header">Last added</h2>
<div class="table-responsive">
  <table class="table table-striped table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Location</th>
        <th>Total desks</th>
        <th>Reserved desks</th>
        <th>Free desks</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% for loc in last_locations %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{loc.city}}</td>
        <td>{{loc.total_desks}}</td>
        <td>{{loc.reserved_desks}}</td>
        <td>{{loc.free_desks}}</td>
        <td>{{loc.price}} $</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
