<h1 class="page-header">Dashboard for co-working spaces delivers</h1>
<div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
        <h4><a href="{% url 'cowork:offices:add' %}"><i class="fa fa-building fa-2x"></i> Add office</a></h4>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <h4><a href="#"><i class="fa fa-cube fa-2x"></i> Add room</a></h4>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <h4><a href="#"><i class="fa fa-desktop fa-2x"></i> Add desk</a></h4>
    </div>
</div>

<h2 class="sub-header">Last added</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Type</th>
        <th>From date</th>
        <th>Until date</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1,001</td>
        <td>Lorem</td>
        <td>ipsum</td>
        <td>dolor</td>
        <td>sit</td>
      </tr>
      <tr>
        <td>1,015</td>
        <td>sodales</td>
        <td>ligula</td>
        <td>in</td>
        <td>libero</td>
      </tr>
    </tbody>
  </table>
</div>
