<div class="container-fluid">
  <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="active"><a href="#"><i class="fa fa-building"></i> Offices<span class="sr-only">(current)</span></a></li>
          <li><a href="#"><i class="fa fa-square"></i> Rooms</a></li>
          <li><a href="#"><i class="fa fa-desktop"></i> Desks</a></li>
          <li><a href="#"><i class="fa fa-bar-chart"></i> Statistics</a></li>
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Dashboard for co-working spaces delivers</h1>

        <div class="row placeholders">
          <div class="col-xs-6 col-sm-3 placeholder">
            <h4><a href="#"><i class="fa fa-building"></i> Add office</a></h4>
          </div>
          <div class="col-xs-6 col-sm-3 placeholder">
            <h4><a href="#"><i class="fa fa-square"></i> Add room</a></h4>
          </div>
          <div class="col-xs-6 col-sm-3 placeholder">
            <h4><a href="#"><i class="fa fa-desktop"></i> Add desk</a></h4>
          </div>
        </div>

        <h2 class="sub-header">Last added</h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Period</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1,001</td>
                <td>Lorem</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
              </tr>
              <tr>
                <td>1,015</td>
                <td>sodales</td>
                <td>ligula</td>
                <td>in</td>
                <td>libero</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
